.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 20px;
}
.first_box{
    border: none;
}
.first_box img{
    border: none;
    outline: none;
}
